@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  font-family: "Red Hat Display", "Arial", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  color: rgb(16, 22, 47);
  background-color: #fff0e5;
  background-image: url("/public/background-jellyfish.png");
  background-size: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;
}

ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
